 <div class="spinner" ng-show="isSomethingLoading"></div>
 <md-toolbar md-theme="blue" class="md-medium-tall"style="color:white;" ng-if="!embedded">
      <h1 class="md-toolbar-tools md-toolbar-tools-top" style="font-size:32px;text-transform: uppercase">Breizh Data Emeraude</h1>
      <small layout-align="bottom" style="margin-top:10px;">Nous étions au bout de 2 départements. Avec l’<a href="#/opendata" style="color:white;">open data</a>, nous sommes au centre de notre territoire.
      <a href="#/projet" style="font-size:20;color:white;">Le projet</a>
      </small>
  </md-toolbar>
 <div layout-gt-md="row">
 <div layout-gt-md="column" flex>
 <div layout-gt-md="column" ng-repeat="site in sites">
   <div  layout-gt-md="column" ng-repeat="category in site.categories">
 	<md-toolbar hide-md>
      <span class="md-toolbar-tools">{{category.name}}</span>
  </md-toolbar>
  <md-content layout-gt-md="column" layout-md="row" layout-sm="row">
  <small ng-repeat="dataset in category.datasets">
    <md-button ng-click="getData(site.url+dataset.id,dataset,site);">
{{dataset.name}}
    </md-button>
   </small>
  </md-content>
 </div>
 </div>
 </div>
<md-content flex="75" class="md-padding">
<md-content style="position:absolute">
<h2>{{presentation.name}}</h2>
</md-content>
<map-emeraude data="data" presentation="presentation" filtered-data="filteredData"></map-emeraude>
<div ng-if="presentation.slider">
	<div ng-if="presentation.slider">Année {{presentation.slider.value}}</div>

	 <md-slider md-discrete ng-model="presentation.slider.value" step="1" min="{{presentation.slider.min}}" max="{{presentation.slider.max}}" aria-label="rating">
    </md-slider>
</div>
<md-content ng-if="site"><small>
	<p>{{presentation.description}}</p>
	<p>Les données proviennent du site <a ng-href="{{site.siteUrl}}">{{site.name}}</a></p>
</small></md-content>

<md-input-group  ng-if="!embedded" style="width:100%" layout-align="bottom" label="URL d'intégration" readonly="readonly" class="ng-isolate-scope md-grey-theme md-input-has-value ng-valid" aria-invalid="false"> 

<label for="001" class="ng-binding">URL d'intégration à copier dans un éditeur HTML</label>
<input id="001" style="width:100%" ng-disabled="isDisabled()" ng-model="shareUrl" type="text" tabindex="false" aria-invalid="false" aria-disabled="false">
</md-input-group>


</md-content>
 </div>

 <md-content class="md-padding" ng-if="!embedded">
 <md-toolbar layout-gt-md="row" ng-if="filteredData[0]">
      <span class="md-toolbar-tools" ng-repeat="(k,d) in filteredData[0]" ng-if="k!='__metadata' && k!='LATITUDE' && k!='LONGITUDE'" style="font-size:10px" flex>{{k}}</span>
  </md-toolbar>
 <div layout-gt-md="column">
 	<div ng-repeat="dat in filteredData" layout-gt-md="row">
 		<div ng-repeat="(k,d) in dat" ng-if="k!='__metadata' && k!='LATITUDE' && k!='LONGITUDE'" style="font-size:10px" flex>{{ d | characters:25 }}</div>
 	</div>
 </div>
 </md-content>
  
