 <div class="spinner" ng-show="isSomethingLoading"></div>
 <md-toolbar md-theme="blue" class="md-medium-tall" style="color:white;">
      <h1 class="md-toolbar-tools md-toolbar-tools-top" style="font-size:32px;text-transform: uppercase">Open Data</h1>
      <small layout-align="bottom" style="margin-top:10px;">Nous étions au bout de 2 départements. Avec L’open data, nous sommes au centre de notre territoire.</small>
      <a href="#/" layout-align="end" class="md-toolbar-tools md-toolbar-tools-bottom" style="font-size:24;color:white;margin-top:-10px;">Breizh Data Emeraude</a>
  </md-toolbar>

  <md-content class="md-padding">
  <p>Sans avoir pour le moment prononcé le nom, nous avons joué le jeu de l’Open Data. C’est-à-

dire représenter, raconter le territoire par le biais des données libérées par les acteurs publics.

L’Open Data a déjà fêté ses huit bougies... En 2006, deux journalistes du quotidien britannique 

The Guardian lançaient une campagne, “Free Our Data”. “Libérez nos données”. Concrètement 

l’open data, ou l’ouverture des données publiques, consiste à diffuser des données collectées 

par les administrations afin de permettre à quiconque de les utiliser gratuitement.</p>


<p>En huit ans, l’ouverture et la réutilisation des données publiques par les collectivités locales et

leur réutilisation ont fait leur chemin. En France, les premières expérimentations remontent à 

2011. Rennes est ainsi la ville pionnière dans la voie de la libération des données publiques. 

D’autres collectivités locales et l’Etat embrayent le pas.</p>

<img src="data/opendata-map.png">

<p>Les Côtes d’Armor figurent parmi les dernières initiatives marquantes, donnant l’accès à une 

soixantaine de jeux de données en vue de leur réutilisation.</p>

<h2>Alors qu’est-ce que l’Open Data nous dit du territoire ?</h2>
<p>Les données publiques sur le territoire de Breizh Emeuraude nous révèlent la place de la Côte 

d’Emeraude, autour de Dinan, Dinard et Saint-Malo. C’est connu de tous. Mais les données 

autorisent des analysent plus fines, nous faisant rentrer dans le quotidien d’un territoire, des 

pratiques de covoiturage aux évènements culturels.</p>


<p>Le territoire nous parle aussi de l’Open Data. Le territoire de Breizh Emeraude, avec ses 74 

communes en Côtes d’Amor et 80 en Ille-et-Vilaine, n’est représenté que de manière tronquée. 

La raison est simple : les données ne sont pas libérées en Ille-et-Vilaine, hormis celles de la 

Ville de Rennes / Rennes Métropole et du Comité Départemental du Tourisme. C’est à un jeu 

de miroir sans reflet auquel nous nous sommes livrés.</p>

<p>Augmentez les données !

Nous n’avons rendu visible la diversité du territoire. De nombreux jeux de données restent à 

constituer. Des problématiques en termes de politiques publiques seraient à soulever, telle que 

la présence des déserts médicaux, en milieu rural.</p>

</md-content>
  
