 <div class="spinner" ng-show="isSomethingLoading"></div>
 <md-toolbar md-theme="blue" class="md-medium-tall" style="color:white;">
      <h1 class="md-toolbar-tools md-toolbar-tools-top" style="font-size:32px;text-transform: uppercase">Le projet</h1>
      <small layout-align="bottom" style="margin-top:10px;">Nous étions au bout de 2 départements. Avec l’<a href="#/opendata" style="color:white;">open data</a>, nous sommes au centre de notre territoire.
      <a href="#/" style="font-size:20;color:white;">Breizh Data Emeraude</a>
      </small>
    
  </md-toolbar>

  <md-content class="md-padding">
<h2>Notre intention</h2>
<p>Vous permettre de préciser les perceptions d’un territoire, à partir de données statistiques

actuelles, de permettre des regards croisés et d’inventer un devenir innovant et pertinent, parce 

que c’est chez nous !</p>

<p>A vous d’utiliser cet outil pour partager le regard des contributeurs et proposer des

visualisations à partir des centres d’intérêt qui vous concernent, tels qu’il existent actuellement.</p>

<h2>Pourquoi?</h2>

  <p>La dynamique de libération de données publiques est porteuse d’une opportunité de créer de 

nouvelles représentations et analyses de notre territoire. De nouvelles potentialités émergent 

pour le rendre intelligible.</p> 
  <p>Notre projet est né d’un manque d’identité entre les pays de Dinan et de Saint-Malo, séparés 

par la frontière départementale. La vallée de la Rance aurait pu être le lien entre ces bassins de 

vie. Elle est devenue un élément clivant, rattaché en termes d’image plus à Dinan, alors qu’elle 

pourrait réunir Dinan, Dinard et Saint-Malo.</p>

<h2>Les visées de notre projet</h2>

<p>Il entend questionner la restriction des études statistiques aux limites administratives d’un 

territoire qui s’étale sur deux départements.

Il vise à inciter les institutions à davantage collaborer entre elles et à libérer leurs données 

publiques.

Il promeut les initiatives privées de libération et de partage de données

Il repose en un outil de centralisation d’informations aujourd’hui dispersées, de croisement et 

d’interprétation de ces informations.</p>

<h2>Le territoire de Breizh Emeraude</h2>
<p>Il est situé à la périphérie de deux départements, Côtes d’Armor à l’ouest, Ille-et-Vilaine pour 

la partie orientale. Bassin de vie, il regroupe 250 000 habitants, répartis entre 154 communes. 

Bassin économique, 7000 entreprises y sont implantées. Il est souvent appelé “Pays de 

Rance” et réunit les Pays de Dinan et Pays de Saint-Malo. <b>Territoire que nous appellons 

Territoire « Breizh Emeraude ».</b> Il est défendu aujourd’hui par un collectif indépendant de 

citoyens, dirigeants d’entreprises, désirent s’inventer un futur innovant.</p>

<h2>Rendre visible Breizh Emeraude par les données</h2>
<p>Pour matérialiser le territoire sur une système de cartographies, nous avons travaillé les jeux

de données mises en accès libre par les collectivités locales (Conseils généraux et Comités 

Départementaux du Tourisme. Nous limiter à ces données publiques induit que certaines cartes 

ne sont que partiellement renseignées.</p>

<h2>Préalables</h2>
<p>Le fait d’encrer l’expérience sur un territoire, signifie un dénominateur commun : le critère 

de localisation des communes (codes INSEE, géolocalisation, etc.). Le temps nécessaire de 

construction de nouveaux jeux de données et le respect de la propriété intellectuelle nous a 

conduit à nous centrer, pour le moment, sur les seules données libérées.</p>

<p>Nous avons trié un à un les jeux jeux de données en fonction de ce critère de géolocalisation

et de son exploitation. Ceci nous a conduit à éliminer plus de 75 % des jeux de données. Soit 

parce que, par nature, les données n’étaient pas géolocalisables (donnés budgétaires par 

exemple). Soit parce que les données étaient incomplètes, les coordonnées GPS n’ayant pas 

été saisies.

Ces jeux de données collectées, triées, nous les avons matérialisé sur un fond de carte 

regroupant les 154 communes du territoire de Breizh Emeraude.</p>

<p>
<h3>Mise en forme des jeux de données</h3>
<ul>
<li>localisation pour les catégories : plage / hôtel / événement / etc..</li>
<li>Nuances de couleur pour les catégories : densité / Nombre de bénéficiaires de l'aide compensatrice tierce personne dans les Côtes d'Armor</li>
</ul>
</p>

<p>Les représentations graphiques des jeux de données sont accompagnées en dessous du

tableau avec les données brutes. Cela permet de vérifier si le graphe produit, a un impact 

modéré ou pas, sur le territoire.</p>

<h4>Perspectives</h4>
<p>
Nous avons produit le temps d’un week-end un prototype de visualisation de données

(DataViz). Cet outil, en Open Source, pourrait être réapproprié par d’autres collectivités locales, 

d’autres territoires pour mieux représentation l’information territoriale. 

Deux perspectives complémentaires sont espérées. Premièrement, nous espérons sensibiliser 

les collectivités locales à la problématique de l’ouverture des données publiques. Notre projet 

met en lumière le nombre de données trop peu nombreux en Ille-et-Vilaine. Secondement, 

nous pourrions bénéficier de l’apport des habitants, citoyens, associations, producteurs de 

données pour augmenter le nombre de jeux de données relatives aux territoires.

Bénéficier de davantage de données permettrait de superposer plusieurs jeux de données à la 

manière de calques. Et ainsi proposer une représentation du territoire la plus fine possible.
</p>

<h4>Sur la mise en relation des graphes ensembles</h4>
<img src="data/Calques.jpg" width="1000px;">

<h4>Affichage côte à côte</h4>
<p>La deuxième étape d’un tel outil, serait de permettre de visualiser simultanément plusieurs 

graphes; et de les superposer à la manière d’un calque pour faire émerger des spécificités / 

analyses du territoire.

Certaines données ne sont pas forcément localisables ou peuvent compléter les données d’une 

carte. On pourrait alors imaginer les afficher côte à côte pour une interprétation croisée.</p>

<img src="data/Graphes autres.jpg" width="1000px;">

<h4>Visualisation dynamique</h4>
L’informatique permet de visualiser les données de manière dynamique, comme par exemple :<br/>

<iframe src="http://bl.ocks.org/mbostock/raw/7607535/3223601f85182ce5196d84f1a16952a47282a11d/" width="1000x" height="1000px"></iframe>

<h2>Contribution</h2>
<p>Ce projet devrait vous permettre de contribuer à la grille d’analyse et de perception de votre

territoire.

Pour cela, le projet dans sa version future donne la possibilité via un formulaire de soumettre 

une donnée statistique.</p>
<h3>Comment contribuer?</h3>
<p>Vous pouvez 

- corriger une information existante, 

- ajouter une donnée sur une base déjà existante (ce qui signifie renseigner tous les 

champs du jeu de données concerné), 

- intégrer un nouveau jeu de données.</p>

<h3>Charte de construction de vos fichiers</h3>
<p>- Vos fichiers de données doivent respecter le format .CSV

- avoir une donnée de géolocalisation (numéros INSEE des communes, etc...)

- avoir un nombre de données fiables et complète sur un domaine

- pro

Votre jeu de données va être soumis à un modérateur et rangé dans la catégorie adéquate.</p>

<h2>Réalisation</h2>
<p>
Cette application web a été réalisée lors du #HACKATHON 22 en décembre 2014 à partir des données 

disponibles sur les sites Datarmor et Bretagne tourisme. </p>

<h3>L’équipe</h3>
<ul>
<li><a href="http://www.vocalyse-hpe.com/">Bernard CESSIEUX</a>< (porteur du projet), consultant management./li>

<li><a href="https://github.com/nicolas-bonnel">Nicolas BONNEL</a>, Architecte solutions Web.</li>

<li><a href="http://gaellelochet.wix.com/portfolio"> Gaëlle LOCHET</a>, Architecte D.E</li>

<li><a href="http://oliviertredan.wordpress.com/">Olivier TREDAN</a>, Docteur sociologie, Data journaliste.</li>
</li>
</ul>



</md-content>
  
