 <div class="spinner" ng-show="isSomethingLoading"></div>
 <md-toolbar md-theme="orange" class="md-medium-tall">
      <h1 class="md-toolbar-tools md-toolbar-tools-top" style="font-size:32px;color:white;text-transform: uppercase">Le projet</h1>
      <a href="#/" layout-align="end" class="md-toolbar-tools md-toolbar-tools-bottom" style="font-size:24;color:white">Breizh Data Emeraude</a>
  </md-toolbar>

  <md-toolbar class="md-medium-tall">
      <span class="md-toolbar-tools md-toolbar-tools-top" >Data Emeraude</span>
  </md-toolbar>
  
